<!doctype html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 우선적으로 적용될 personal CSS -->
    <link rel="stylesheet" th:href="@{/css/navbar.css}">
    <!-- 공통적으로 적용될 Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}">
    <!-- 나중에 적용될 personal CSS -->
    <!-- <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"> -->
    <title>POKEMON WORLD</title>
</head>

<body>
    <!-- header fragment 사용 -->
    <!-- <th:block th:replace="fragment/header :: headerFragment"></th:block> -->

    <!-- 네비게이션바 -->
    <nav th:replace="~{fragment/navbar :: navbarFragment}"></nav>

    <!-- 각각의 기본 템플릿 안에 삽입될 내용 -->
    <th:block layout:fragment="content"></th:block>

    <!-- 각각의 기본 템플릿이 사용하는 자바스크립트 -->
    <th:block layout:fragment="script"></th:block>

    <!-- footer fragment 사용 -->
    <!-- <th:block th:replace="fragment/footer :: footerFragment"> </th:block> -->

    <!-- Bootstrap JS -->
    <script th:src="@{/js/bootstrap.min.js}"></script>
</body>

</html>